@model HRMS.Models.PersonalInfo
<div class="admin-form theme-primary">

    <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="section-divider mb40" id="spy1">
                    <span>Personal Info</span>
                </div>


                                <!-- .section-divider -->
                <!-- Basic Inputs -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sex" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.MaterialStatus, new { htmlAttributes = new { @class = "form-control", @placeholder = "Material Status" } })
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.HusbandOrSpouse, new { htmlAttributes = new { @class = "form-control", @placeholder = "Husband/ Spouse" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.BloodGroup, new { htmlAttributes = new { @class = "form-control", @placeholder = "Blood Group" } })

                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Of Birth" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Place of Birth" } })
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Relagion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Relagion" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.AdharNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adhhar Number" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.PasspostNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Passport Number" } })
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nationality" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.MotherTounge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mother Tounge" } })
                            </label>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.EmergencyContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emergency Contact Person" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.EmergencyPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emergency Contact Phone" } })
                            </label>
                        </div>
                    </div>
                </div>







                <!-- end .form-body section -->
                <div class="panel-footer ">
                    <button type="submit" class="button btn-primary">Submit</button>
                </div>
                <!-- end .form-footer section -->
            }
        </div>
    </div>
</div>





